body{
	background-color: #F8EDBA
}
/*color de fondo en toda la pagina web*/
h1{
	color:#152089;
	font-family: sans-serif;
	font-size: 24pt;
	border-style: groove;
	border-color: black;
	border-width: 5px;
	border-radius: 20px;
	margin-right: 1100px;
	/*formato y posición del título principal*/
}
img{
	display: inline-block;
	margin-right: 50px;
	margin-left: 10px;
	float: left;
	width: 180px;
/*formato para la foto*/
}
h2{
	color:#170D95;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18pt;

}
h4{
	color:#474FEF;
	font-family: 'Fjalla One', sans-serif;
	font-size: 12pt;
}
.enlace:hover{
	color: #474FEF;
	font-family: 'Fjalla One', sans-serif;
	font-size: 10pt;
	display: inline-block;
}
/*formato para los enlaces a las asignaturas*/


